### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Docs ###
docs/java/

### artifacts ###
out/artifacts/

### Target ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/